<div class="wrapper">

      <nb-form-field>
        <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
        <input #inpflp id="userName" [(ngModel)]="textValue" type="text" nbInput fullWidth>
      </nb-form-field>

    <div>
        <br>
      <button id="buttonForClick" nbButton hero status="primary" (click)="fetchUserData(); onSubmit(); refreshGridInAnotherComponent();">Search User</button>
    </div>

    <br> 
    <div>
      <nb-alert class="error" *ngIf="queryParam == 404" status="danger">User not found!</nb-alert>
    </div>

    <div *ngIf="userData | async as user">   

                <nb-card>      
                <nb-card-body id="profilecard">
                  <nb-user shape="semi-round"
                          size="large"
                          [name]="user.name"
                          [picture]="user.avatarUrl">
                  </nb-user>

                </nb-card-body>
              </nb-card>

              <nb-card accent="info" *ngIf="userData">
                <nb-card-header><nb-icon icon="pin-outline"></nb-icon> {{user.location}}</nb-card-header>
                <nb-card-body>
                  {{ user.bio }}
                </nb-card-body>
              </nb-card>

              <nb-card *ngIf="userData">
                <nb-card-body>
                  <nb-icon icon="person-add-outline"></nb-icon>   Followers: {{user.followers}}  <nb-icon icon="person-done-outline"></nb-icon>   Following: {{user.following}}
                </nb-card-body>
              </nb-card>
        </div>
</div>
