@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

.headertext {
    font-family: 'Ubuntu', sans-serif;
    color: nb-theme(text-basic-color);
    font-weight: 700;
    font-size: 6vh;
}

* {
    font-family: 'Ubuntu',sans-serif;
    font-weight: 400;
}
